@model List<About>
@{
    Layout = null;
}

<section id="about" class="about section">
    @foreach (var item in Model)
    {
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@item.AboutTitle</h2>
        


            <p>@item.AboutDescription</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4 justify-content-center">
                    <div class="col-lg-4">
                    <img src="https://files.idyllic.app/files/static/2600857" pro"file-img.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 content">
                        <h2>@item.AboutTitle2</h2>
                        <p class="fst-italic py-3">
                            @item.AboutSubTitle
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Doğum Tarihi:</strong> <span>@item.AboutBirthday</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Web Site:</strong> <span>@item.AboutWebSiteAddress</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Telefon:</strong> <span>@item.AboutPhone</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Şehir:</strong> <span>@item.AboutAddress</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Yaş:</strong> <span>@item.AboutAge</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Derece:</strong> <span>@item.AboutRatio</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Mail Adresi:</strong> <span>@item.AboutEmail</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Çalışma Durumu:</strong> <span>@item.Freelance</span></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        }
</section>